@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?pkj6e9');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?pkj6e9#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?pkj6e9') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?pkj6e9') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?pkj6e9##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-solid {
  &:before {
    content: $icon-check-solid; 
  }
}
.icon-pencil-solid {
  &:before {
    content: $icon-pencil-solid; 
  }
}
.icon-trash-solid {
  &:before {
    content: $icon-trash-solid; 
  }
}
.icon-xmark-solid {
  &:before {
    content: $icon-xmark-solid; 
  }
}

